* {
    font-family: Poppins;
  }

  body {
    font-size: 16px;
    margin-left: 0;
  }
  
  header {
    display: flex;
    font-weight: 400;
    align-content: center;
    margin: auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  nav {
    width: 100%;
    flex-direction: row;
  }
  
  ol {
    list-style: none;
  }

  .nav-list {
    box-sizing: 200px;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 26px;
    align-items: center;
    text-align: center;
  }
  
  .nav-item {
    padding: 0.1% 0.5% 0.1% 0.5%;
    white-space: wrap;
    border-radius: 6px;
  }
  
  .nav-item:hover {
    transform: scale(103%);
    color:aliceblue;
    background-color:black;
    border-radius: 6px;
    transition-duration: 0.2s;
  }
  
  .nav-button {
    padding: 0.1% 0.5% 0.1% 0.5%;
    font-size: medium;
    text-align: center;
    margin-left: auto;
    margin-right: 50px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    transition-duration: 0.2s;
  }
  
  #contact-button:hover {
    transform: scale(105%);
    color: white;
    background-color: green;
    border-color: green;
    border-radius: 15px;
    transition-duration: 0.2s;
  }

  h1 {
    font-size: 40px;
    font-weight: 800;
  }

  h2 {
    font-size: 16px;
    font-weight: 600;
  }

  h3 {
    font-size: 14px;
  }

  .page-title {
    text-align: center;
    padding: 5% 5%;
  }

  span {
    color: rgba(175, 178, 186, 1);
  }

  .portfolio {
    display: inline-flex;
    background-color: rgb(245, 245, 245);
    padding-left:2%;
    padding-top: 2%;
    height: 30rem;
    width: 100%;
  }

  .portfolio-items {
    max-height: 10px;
    justify-content: center;
    text-align: center;
    margin: 5rem 2rem auto 2rem;
  }

  .portfolio-img {
    height: 290px;
    width: 407px;
    border-radius: 10px;
  }

  .portfolio-img:hover{
    transform: scale(102%);
    transition-duration: 0.2s;
  }

  .bibliography {
    margin: 1%;
    position: display-flex;
    background-color: rgb(244, 243, 238);
    padding: 1% 7% 1% 1%;
    border-radius: 15px;
  }

  footer {
    font-weight: 100;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }